.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
}

.contenedor {
    display: flex;
    background-color: black;
    grid-column: 3/3;
    grid-row: 3/3;
    gap: 30px;
    flex-direction: column;
   
}
.flex {
    display: flex;
    justify-content: center;
    align-items: end;
   
}
.flex1{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: aliceblue;
}
.caja1 {
    background-color: rgb(255, 0, 0);
    width: 30px;
    height: 30px;
}
.caja2 {
    background-color: rgb(10, 109, 131);
    width: 30px;
    height: 30px;
}
.caja3 {
    background-color: rgb(201, 19, 214);
    width: 30px;
    height: 30px;
}
